[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CLIQUE"]
	path = CLIQUE
	url = https://github.com/kelvynbladen/clique
[submodule "randomForestVIP"]
	path = randomForestVIP
	url = https://github.com/kelvynbladen/randomforestvip
